body {
  font-family: SFU-Display;
  font-size: 16px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
}

/* do not group these rules */
input::placeholder {
  color: #000;
  /* Thay đổi màu placeholder */
  opacity: 1;
  /* Đảm bảo opacity là 1 để màu sắc không bị làm mờ */
}

.search-box input::placeholder {
  color: #5f5c5c;
}

textarea::placeholder {
  color: #000;
  /* Thay đổi màu placeholder cho textarea nếu cần */
  opacity: 1;
  /* Đảm bảo opacity là 1 để màu sắc không bị làm mờ */
}

p {
  line-height: 1.4;
  margin-bottom: 24px;
}

.triagle-clip-path {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.btn-footer:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.btn-tuvan {
  background: none;
}

.btn-tuvan:hover {
  background: #dc2626;
}

.btn-tuvan span {
  transition: all 0.1s ease-in;
  width: 0;
  opacity: 0;
  height: 0;
  color: transparent;
  display: none;
}

.btn-tuvan:hover span {
  width: auto;
  opacity: 1;
  height: auto;
  color: white;
  display: block;
}

/* inline-flex rounded-3xl px-4 py-1.5 -translate-y-5 bg-[#cdf1ff] text-lg text-[#009dd9] items-center gap-2 */
.button-seemore-1 {
  display: inline-flex;
  border-radius: 24px;
  padding: 6px 16px;
  transform: translateY(-20px);
  align-items: center;
  gap: 8px;
  color: #009dd9;
  font-size: 18px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.button-seemore-1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cdf1ff;
  border-radius: 10rem;
  z-index: -2;
}

.button-seemore-1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(61, 115, 196);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-seemore-1:hover {
  color: #fff;

}

.button-seemore-1:hover::before {
  width: 100%;
}

/* mb-5 mt-8 w-fit mx-auto flex rounded-3xl px-2.5 xl:px-4 py-1.5  bg-[#01a9f0] text-white items-center gap-2  xl:text-lg */
.button-seemore-2 {
  align-items: center;
  gap: 8px;
  color: white;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.button-seemore-2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01a9f0;
  border-radius: 10rem;
  z-index: -2;
}

.button-seemore-2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(61, 115, 196);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-seemore-2:hover {
  color: #fff;

}

.button-seemore-2:hover::before {
  width: 100%;
}

/* inline-flex border-2 border-white rounded-3xl px-4 py-1.5 translate-y-10 bg-[#cdf1ff] text-[#009dd9] items-center gap-2 */
.button-seemore-3 {
  align-items: center;
  gap: 8px;
  color: #009dd9;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid white;

}

.button-seemore-3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cdf1ff;
  border-radius: 10rem;
  z-index: -2;
}

.button-seemore-3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: white;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-seemore-3:hover {
  color: #009dd9;
  border: 1px solid #08acec;

}

.button-seemore-3:hover::before {
  width: 100%;
}



/* Header */

.item-border-left {
  position: absolute;
  width: 54px;
  height: 8px;
  background: white;
  transform: rotate(50deg);
  left: -25px;
  top: 69%;
}

.item-border-right {
  position: absolute;
  width: 54px;
  height: 8px;
  background: white;
  transform: rotate(-50deg);
  right: -25px;
  top: 69%;
}

/* .item-border-right,
.item-border-left {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
}

.item-border-right {
  right: -4px;
  top: 76px;
}

.item-border-left {
  left: -4px;
  top: 76px;
}

.item-border-left::before {
  position: absolute;
  content: "";
  z-index: 12;
  background: #009DD9;
  width: 12px;
  height: 12px;
  left: -40%;
  top: 37%;
  border-radius: 100%;
}
.item-border-right::before {
  position: absolute;
  content: "";
  z-index: 12;
  background: #009DD9;
  width: 12px;
  height: 12px;
  right: -40%;
  top: 37%;
  border-radius: 100%;
} */

/* Humberger button */

#humberger {
  width: 32px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#humberger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 52%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 24%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#humberger span:nth-child(1) {
  top: 11px;
}

#humberger span:nth-child(2) {
  top: 15px;
  opacity: 1;
}

#humberger span:nth-child(3) {
  top: 19px;
}

#humberger.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#humberger.open span:nth-child(2) {
  opacity: 0;
  left: -10px;
}

#humberger.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.mb-sidebar {
  transition: all 0.25s ease-in;
  /* display: none; */
  left: 200vw;
  position: fixed;
  top: 112px;
  width: 100vw;
  background: #009dd9;
  height: 100vh;
  z-index: 100;
}

.mb-sidebar.open {
  left: 0;
  display: flex;
  padding: 20px;
}

/* Mega menu */
.mega-menu li {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.mega-menu li.active {
  position: relative;
}

.mega-menu>li.active::after {
  position: absolute;
  content: "";
  background: #ed1b24;
  width: 100%;
  height: 3px;
  top: -16px;
  left: 0;
}

.sub-menu {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: max-content;

  border-top: none;
  color: black;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

.has-submenu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.has-submenu::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -1;
}

.has-submenu:hover {
  cursor: pointer;
}

.has-submenu:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.has-submenu img {
  height: 6px;
  width: 10px;
}

.sub-menu li {
  border: 1px solid #009dd9;
  border-top: none;
  padding: 12px;
  color: black;
  background: white;
}

.sub-menu li:first-child {
  border-top: 1px solid #009dd9;
}

.sub-menu li a {
  width: auto;
  height: auto;
  display: block;
}

.has-submenu-lv2,
.has-submenu-lv3 {
  position: relative;
}

.has-submenu-lv2:hover .sub-menu-lv2,
.has-submenu-lv3:hover .sub-menu-lv3 {
  display: block;
}

.sub-menu-lv2,
.sub-menu-lv3 {
  position: absolute;
  left: 100%;
  top: 0;
  width: max-content;
  display: none;
}

.sub-menu li,
.sub-menu-lv2 li {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-transform: none;
}

.sub-menu li:hover,
.sub-menu-lv2 li:hover {
  background: #009dd9;
  color: white;
}

.icon-menu-arrow {
  width: 8px;
  height: 8px;
  background: url("./assets/img/icon-arrow-right-black.png") 100% no-repeat;
}

.sub-menu li:hover>.icon-menu-arrow,
.sub-menu-lv2 li:hover>.icon-menu-arrow {
  background: url("./assets/img/icon-arrow-right-white.png") 100% no-repeat;
}

/* Breadscrum */
.breadscrum-item::before {
  position: absolute;
  content: "";
  background: url("./assets/img/icon-arrow-right-black.png") center 100% no-repeat;
  top: 3px;
  left: -11px;
  width: 6px;
  height: 9px;
}

@media (min-widh: 980px) {
  .breadscrum-item::before {
    left: -16px;
    top: 6px;
  }
}

/* Giới thiệu */
.loimodau-title {
  padding: 0 30px;
  background: white;
  transform: translateY(15px);
  position: relative;
  font-weight: 700;
}

.loimodau-title::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #cdf1ff;
  left: 0;
  top: 13px;
}

.loimodau-title::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #cdf1ff;
  right: 0;
  top: 13px;
}

.loimodau-title.home::before {
  top: 9px;
}

.loimodau-title.home::after {
  top: 9px;
}

.doingu-title {
  position: relative;
  text-transform: uppercase;
  color: #0058a8;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.doingu-title::after {
  position: absolute;
  content: "";
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: 3px;
  background: #ed1b24;
}

.intro-detail-title {
  color: #01a9f0;
  font-size: 22px;
  font-weight: 700;
  position: relative;
}

.intro-detail-title::after {
  position: absolute;
  content: "";
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: 1px;
  background: #01a9f0;
}

.list-article .article-item {
  border-bottom: 1px solid #b5eaff;
  filter: drop-shadow(0 1px white);
}

.list-article .article-item:last-child {
  border: none;
  filter: none;
}

/* 03 Trang tin tức trang chính */
.menu-news .menu-news-item {
  border-bottom: 2px solid #009dd9;
  color: #009dd9;
  text-transform: uppercase;
}

.menu-news .menu-news-item.active,
.menu-news .menu-news-item:hover {
  border-bottom: 2px solid #ed1b24;
  color: #ed1b24;
}

.col-right .col-right-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  padding: 20px 0;
  border-bottom: 1px solid #cae7f3;
}

@media (min-width: 1280px) {
  .col-right .col-right-item {
    flex-direction: row;
  }

  .col-right .col-right-item:first-child {
    padding-top: 0;
  }
}

/* Custom SWiper */
.swiper-news .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: end;
  padding-right: 28px;
  padding-bottom: 12px;
}

.swiper-news .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: white;
  border: 1px solid #009dd9;
  opacity: 1;
}

.swiper-news .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #009dd9;
}

.swiper-custom .swiper-button-next,
.swiper-custom .swiper-button-prev {
  width: 32px;
  height: 32px;
  background: rgb(221, 221, 221, 0.7);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-custom .swiper-button-next:hover,
.swiper-custom .swiper-button-prev:hover {
  background: #b7b1b9;
}

.swiper-custom .swiper-button-next::after,
.swiper-custom .swiper-button-prev::after {
  content: "";
}

.swiper-custom .swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-next.button-sponsor,
.swiper-button-prev.button-sponsor {
  z-index: 20;
  border: 1px solid white;
  background: rgba(19, 18, 18, 0.205);
}

.swiper-button-next.button-sponsor:hover,
.swiper-button-prev.button-sponsor:hover {
  background: rgba(58, 54, 54, 0.336);
}

/* @media (max-width: 1280px) {
  .swiper-button-next.button-sponsor,
  .swiper-button-prev.button-sponsor {
    display: none;
  }
} */
.swiper-button-next.button-nganhdaotao,
.swiper-button-prev.button-nganhdaotao {
  z-index: 20;
  border: 1px solid white;
  background: rgba(19, 18, 18, 0.205);
  top: 40%;
}

.swiper-button-next.button-nganhdaotao:hover,
.swiper-button-prev.button-nganhdaotao:hover {
  background: rgba(58, 54, 54, 0.336);
}

@media (max-width: 1280px) {

  .swiper-button-next.button-nganhdaotao,
  .swiper-button-prev.button-nganhdaotao {
    display: none;
  }

  .swiper-button-next.button-nganhdaotao.sukien,
  .swiper-button-prev.button-nganhdaotao.sukien {
    display: flex;
  }
}

@media (min-width: 980px) {

  .swiper-custom .swiper-button-next,
  .swiper-custom .swiper-button-prev {
    width: 40px;
    height: 40px;
  }

  .swiper-custom .swiper-button-prev {
    left: 50px;
  }

  .swiper-custom .swiper-button-next {
    right: 50px;
  }

  .swiper-button-prev.button-nganhdaotao {
    left: -50px;

  }

  .swiper-button-next.button-nganhdaotao {
    right: -50px;
  }

  .swiper-button-prev.button-sponsor {
    left: -60px;

  }

  .swiper-button-next.button-sponsor {
    right: -60px;
  }
}

/* Custom Iframe */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* Tỷ lệ khung hình 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.video-detail-page.video-container {
  aspect-ratio: 16/9;
  overflow: hidden;
  max-height: 300px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#custom-pagination {
  text-align: center;
  margin-top: 10px;
}

.custom-pagination-button {
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 3px;
}



.custom-pagination-button.active,
.custom-pagination-button:hover {
  border-bottom: 3px solid #ed1b24;
  color: #ed1b24;
}



/* Custom select box */

.custom-select {
  position: relative;
  font-weight: 700;
  min-width: 140px;
}

.custom-select option {
  font-weight: 700;
}

.custom-select select {
  appearance: none;
  width: 100%;
  font-size: 13px;
  padding: 3px 12px;
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  border-radius: 0.25rem;
  color: #585c63;
  cursor: pointer;
  outline: none;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 30%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}


/* Trang hỏi đáp */
.question-item {
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 4px 1px rgb(235, 234, 234);

}

.question-item:first-child {
  border: 1px solid #ffbbbe;
}

.question-item:nth-child(even) {
  background: #e7f8ff;
  border: 1px solid white;
}

.question-item:hover {
  box-shadow: 1px 1px 4px 2px rgb(230, 228, 228);
  transform: translateX(-1px) translateY(-1px);
}

.question-title {
  font-weight: 700;
  margin-top: 20px;
}

.question-item:first-child .question-title {
  color: #ed1b24
}

.question-content {
  margin-top: 20px;
}

.question-seemore {
  color: #009dd9;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.question-seemore .icon-arrow {
  width: 6px;
  height: 9px;
  background: url(./assets/img/icon-arrow-right-blue.png);
}

.question-item:first-child .question-seemore {
  color: #ed1b24
}

.question-item:first-child .question-seemore .icon-arrow {
  background: url(./assets/img/icon-arrow-right-red.png);

}

/* Trang cảm ơn */
.thankyou {
  height: calc(100vh - 134px);
  overflow: hidden;
}


/* Phân trang */
/* flex items-center  gap-2 flex-wrap */
.paging.SplitPages {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
/* border w-8 h-8 flex justify-center items-center hover:text-white hover:bg-[#009dd9] */
.paging.SplitPages a{
  border:1px solid rgb(223, 222, 222);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.paging.SplitPages a:hover,.paging.SplitPages a.hientai{
  color: white;
  background: #009dd9;
  filter: brightness(0.9);
}
.paging.SplitPages a.dau{
  background: url(./assets/img/icon-arrow-pre2.png) no-repeat center;
}
.paging.SplitPages a.truoc{
  background: url(./assets/img/icon-arrow-pre1.png) no-repeat center;
}
.paging.SplitPages a.sau{
  background: url(./assets/img/icon-arrow-pre1.png) no-repeat center;
  transform: rotate(180deg);
}
.paging.SplitPages a.cuoi{
  background: url(./assets/img/icon-arrow-pre2.png) no-repeat center;
  transform: rotate(180deg);
}